.intro {
  color: red;
  font-family:monospace;
  font-size: 3em;
}

img {
  width: 640px;
  border-style: solid;
  border-color: orange;
  border-width: thick;

}

body {
  text-align: center;
  background-color: grey;
}

.ok {
  font-style: italic;
  color: orange;
  font-size: 2em;
  
}
